<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.h2kinfosys.spring.HelloWorld" scope="prototype">
    	<property name="message" value="Greetings! with Spring"></property>
    </bean>
    
    <bean id="customerFactory" class="com.h2kinfosys.spring.CustomerFactory">
    	<property name="type" value="regular"></property>
    </bean>
    
    <bean id="customer" factory-bean="customerFactory" factory-method="getCustomer" >
    	
    </bean>

</beans>

